<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conecta Cartagena</title>
    <style>
        @font-face {
            font-family: 'Quity';
            src: url('/fonts/Quity.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/Gotham.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        body, html {
            height: 100%;
            margin: 0;
        }
        .container {
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/5G9A2679.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
        }
        .logo {
            width: 25vw;
            max-width: 250px;
            height: auto;
        }
        h1 {
            font-family: 'Quity', sans-serif;
            font-size: 4vw;
            margin-bottom: 10px;
            color: #E4E2D5FF; /* Dorado, representando el sol y la arena */
        }
        p {
            font-family: 'Gotham', sans-serif;
            font-size: 2vw;
            max-width: 80%;
            color: #E4E2D5FF; /* Azul cielo, representando el mar */
        }
        @media (max-width: 768px) {
            .logo {
                width: 50vw;
            }
            h1 {
                font-size: 8vw;
            }
            p {
                font-size: 4vw;
            }
        }
    </style>
</head>
<body>
    <main class="container">
        <img src="/logo.png" alt="logo" class="logo">
        <h1>Conecta Cartagena</h1>
        <p>Estamos trabajando por el turismo de Cartagena</p>
    </main>
</body>
</html>